#titreList{
    display: flex;
    justify-content: center;
    padding: 2rem;
}

#listeLivres{
    width: 90%;
    border-collapse: collapse;
}

#listContainer{
    display: flex;
    justify-content: center;
}

#lignePresentation{
    height: 3rem;
    border-bottom: 2px solid #D26240;
}

th{
    text-align: left;
    min-width: 3rem;
}

.ligneLivre{
    height: 80px;
}

.actionButton button{
    margin: 1rem;
    padding: 0.5rem;
}

#actionSquare{
    text-align: center;
}

.actionButton{
    text-align: center;
}

.readBtn{
    background-color: #86d27f;
    border: none;
    border-radius: 20px;
}

.addBtn{
    background-color: #5accd2;
    border: none;
    border-radius: 20px;
}
.editBtn{
  background-color: #5a76d2;
  border: none;
  border-radius: 20px;
}
.deleteBtn{
  background-color: #d25a5a;
  border: none;
  border-radius: 20px;
}
.deleteBtn:hover{
  background-color: #d25a5a;
  border: none;
  border-radius: 20px;

}
