<div id="titreList">
  <h1>Vous pouvez retrouvez ci-dessous la liste des livres</h1>
</div>

<div id="listContainer">
  <table id="listeLivres">
    <thead>
    <tr id="lignePresentation">
      <th>ID</th>
      <th>NOM</th>
      <th>AUTEUR</th>
      <th>DATE DE SORTIE</th>
      <th>GENRE</th>
      <th>TÉLÉCHARGEMENT</th>
      <th>LECTURE</th>
      <th id="actionSquare">ACTION</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let livre of livres" class="ligneLivre">
      <td>{{livre.id}}</td>
      <td>{{livre.name}}</td>
      <td>{{livre.author}}</td>
      <td>{{livre.releaseDate}}</td>
      <td><p *ngFor="let genre of livre.type">
        {{genre}}
      </p></td>
      <td>{{livre.downloadNumber}}</td>
      <td>{{livre.readNumber}}</td>
      <td class="actionButton">
        <button (click)="readBook(livre.id)" class="readBtn">Lire</button>
        <button (click)="addToLibrary(livre.id)" class="addBtn">Add</button>
        <button (click)="goToBookEdit(livre.id)" class="editBtn">Edit</button>
        <button (click)="goToDeleteBook(livre.id)" class="deleteBtn">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>


